:root {
  --notes-color: #5bc0be;
}

.header {
  padding: 1rem 2rem;
  outline: 1px solid red;
  position: sticky;
  top: 0;
}

.notes-logo {
  color: var(--notes-color);
  font-weight: 800;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation {
  margin-right: 8rem;
}

.menu-icon {
  cursor: pointer;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.5rem;
}

.icon-style {
  font-size: 1.2rem;
  align-self: center;
}

.login:hover,
.icon-style:hover {
  color: var(--notes-color);
  cursor: pointer;
  font-weight: 800;
}

@media only screen and (max-width: 900px) {
  .navigation {
    margin-left: auto;
    margin-right: 0;
  }
}
