.notes-sidebar {
  width: 0rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 75px);
  overflow-y: auto;
  position: fixed;
  top: 75.2px;
  transition: 0.5s;
  z-index: 1;
  background-color: white;
}

.sidebar-visible {
  padding-left: 2rem;
  width: 17rem;
}

.list li {
  padding-left: 0rem;
}

.note-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.avatar {
  border: 1px solid black;
  background-color: var(--notes-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.signout {
  font-size: 1.3rem;
  cursor: pointer;
}

.note-list:hover {
  color: var(--notes-color);
  font-weight: 800;
}

@media only screen and (max-width: 900px) {
  .notes-sidebar {
    top: 70px;
  }
  .user {
    margin-bottom: 4rem;
  }
}
