.note-card {
  border-radius: 8px;
  background-color: var(--notes-color);
  width: 40%;
  border: 1px transparent;
  padding: 1rem;
  position: relative;
  min-width: min-content;
}

.note-card-footer {
  display: flex;
  justify-content: space-between;
}

.note-icons-container {
  display: flex;
  margin-right: 1rem;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
}

.note-description {
  word-break: break-all;
  margin-bottom: 1rem;
}

.priority-tag {
  position: absolute;
  right: 0.3rem;
  border-radius: 12px;
  border: 1px solid gray;
  top: 0.3rem;
  padding: 0.3rem;
}
