.form-open {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-form-container {
  position: relative;
  width: 60%;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  padding: 1rem;
  background-color: white;
  margin: 1rem auto;
}

.cancel-icon {
  position: absolute;
  font-size: 1.5rem;
  right: 3%;
  top: 3%;
  cursor: pointer;
}

.user-title-input {
  width: 100%;
  border: none;
  height: 2rem;
  font-size: 1.2rem;
  background-color: transparent;
}

.user-tag-input {
  width: 10%;
}
.user-title-input:focus {
  outline: none;
}

.user-description-input {
  width: 100%;
  border: none;
  outline: none;
  height: 3rem;
  resize: none;
  margin-top: 1rem;
  word-wrap: break-word;
  font-size: 1.2rem;
  background-color: transparent;
}

.tools-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}
.btn-note {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.4rem;
  border-radius: 12px;
  color: var(--black-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-note:hover {
  font-weight: 900;
  font-size: 1.2rem;
}

.tags-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.added-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.note-tag {
  border: 1px solid black;
  border-radius: 25px;
  width: max-content;
  padding: 0.1rem 0.3rem;
}
::placeholder {
  font-weight: 600;
  font-size: 1.2rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}
